* {
  text-align: center;
}

.usernameCard {
  display: flex;
  margin: 10px;
}

label {
  color: green;
  margin: 3px;
}

.popupCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1000;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.content {
  color: white;
  margin: 3px;
}

.mapboxgl-popup-content {
  z-index: 1000;
  background: none;
}
.popupCard1 {
  z-index: 1000;
}
.mapboxgl-popup-close-button {
  font-size: 2rem;
  color: black;
  margin: 5px;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
